{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- https://github.com/michalsnik/aos -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-32x32.png' %}">
    

    <!-- Static -->
    <link rel="stylesheet" href="{% static 'assets/style.css' %}" />

    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
</head>

<body class="text-white" style="background-color: #141414;">
    <!-- Header and Navbar -->
    <header class="p-4 flex flex-col md:flex-row items-center justify-between relative z-10" data-aos="fade-down">
        <a href="/"><img src="{% static "images/netflix.png" %}" height="30" alt="Netflix Logo" width="110" class="me-3"></a>
    
        <nav class="flex flex-col md:flex-row space-y-3 md:space-y-0 md:space-x-5 md:mr-auto md:mb-0">
            <span class="mr-5 md:mr-0"><a href="/">Home</a></span>
    
            <!-- Genres -->
            <div class="dropdown relative">
                <span id="dropdownMenuButton" class="cursor-pointer">Genres ▼</span>
                
                <div id="dropdownMenu" class="dropdown-content hidden absolute z-10">
                    <ul><a href="/genre/action/">Action</a></ul>
                    <ul><a href="/genre/comedy/">Comedy</a></ul>
                    <ul><a href="/genre/drama/">Drama</a></ul>
                    <ul><a href="/genre/horror/">Horror</a></ul>
                    <ul><a href="/genre/romance/">Romance</a></ul>
                    <ul><a href="/genre/science_fiction/">Science Fiction</a></ul>
                    <ul><a href="/genre/fantasy/">Fantasy</a></ul>
                </div>
            </div>
    
            <span><a href="/my-list">My List</a></span>
        </nav>
    
        <div class="flex items-center">
            <span class="mr-5">Welcome, {{ user.username }}</span>
    
            <form action="search" method="POST" class="mr-5">
                {% csrf_token %}
                <input type="search" name="search_term" placeholder="Search" class="bg-gray-700 p-2 rounded">
                <button class="bg-blue-700 text-white p-2 rounded hover:bg-blue-600">Search</button>
            </form>
            
            <div class="relative">
                <a href="/logout" class="block border-2 rounded-full p-2">Logout</a>
            </div>
        </div>
    </header>
    
    
    <main data-aos="fade-up">
        {% block body %}
        {% endblock %}
    </main>

    <footer class="container py-5">
        <div class="small mb-3 text-center">
            <a href="https://github.com/tomosantos" target="_blank" style="color: white;">
                <span class="p-2 footer bi bi-github"></span>
            </a>
        </div>

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
            <script>
                AOS.init({
                    offset: 400,
                    duration: 1000
                });
            </script>
    </footer>

    <!-- JavaScript -->
    <script>
        function showModal(element) {
            // Retrieve data attributes
            const title = element.getAttribute('data-title');
            const description = element.getAttribute('data-description');
            const releaseDate = element.getAttribute('data-release-date');
            const genre = element.getAttribute('data-genre');
            const length = element.getAttribute('data-length');
            const imageCardUrl = element.getAttribute('data-image-card-url');
            const imageCoverUrl = element.getAttribute('data-image-cover-url');
            const dataVideoUrl = element.getAttribute('data-video-url');
        
            // Update the modal's content with the movie details
            const modal = document.getElementById('movieModal');
            modal.querySelector('.modal-content h2').textContent = title;
            modal.querySelector('.modal-content img').src = imageCoverUrl;
            modal.querySelector('.modal-content a').href = dataVideoUrl;  
            modal.querySelector('.modal-content img').alt = title + " Cover Image";
            modal.querySelector('.modal-content .flex span:first-child').textContent = "Year: " + releaseDate;
            modal.querySelector('.modal-content .flex span:nth-child(2)').textContent = "Genre: " + genre;
            modal.querySelector('.modal-content .flex span:last-child').textContent = "Length: " + length + "min";
            modal.querySelector('.modal-content p').textContent = description;
        
            // Show the modal
            modal.style.display = 'block';
            setTimeout(() => {
                modal.classList.add('modal-show');
            }, 50);
        }
        
        function hideModal() {
            const modal = document.querySelector('.modal');
            modal.classList.remove('modal-show');
            setTimeout(() => {
                modal.style.display = 'none';
            }, 300);
        }
        

        window.onclick = function(event) {
            if (event.target === document.getElementById('movieModal')) {
                hideModal();
            }
        }

        function addItemToList() {
            const modal = document.getElementById('movieModal')
            var movieID = modal.querySelector('.modal-content a').href;

            $.ajax({
                url: "{% url 'add-to-list' %}",
                type: "POST",
                data: {
                    movie_id: movieID,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(data) {
                    $('#addToListButton').text(data.message);

                    $('#addToListButton').prop('disabled', true);

                    console.log("Item added to list!");
                },
                error: function(xhr, errmsg, err) {
                    
                    console.error("Error adding item to list: " + errmsg);
                }
            });
        }
    </script>
</body>

</html>