{% extends "initial.html" %}

{% block title %}Sign Up{% endblock  %}


{% block body %}
    <div class="bg-image">
        <div class="signup-container">
            <div class="mb-3">
                <h1>Signup</h1>
                <h2>Unlimited movies, TV shows, and more.</h2>
            </div>

            <div>
                <style>
                    h5{
                        color: red;
                    }
                </style>
                {% for message in messages %}
                <h5>{{message}}</h5>
                {% endfor %}
            </div>

            <form action="" method="post">
                {% csrf_token %}
                <input class="rounded-pill" type="email" name="email" placeholder="Email address" />
                <input class="rounded-pill" type="text" name="username" placeholder="Username" />
                <input class="rounded-pill" type="password" name="password" placeholder="Password" />
                <input class="rounded-pill" type="password" name="password2" placeholder="Repeat Password" />
                <button style="color:white" type="submit" class="signup-btn rounded-pill bg-blue-700">Get Started</button>
            </form>

            <div class="help-text" align="center">
                <span>Ready to watch? Enter your email to create or restart your membership.</span>
                <br>
                <br>
                <span>Already have an account? <a href="{% url "login" %}">Login</a></span>
            </div>
        </div>
    </div>
{% endblock %}
